# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# Makefile
[Makefile]
indent_size = 4

# Go
[{*.go,go.mod,go.sum}]
indent_size = 4

# Python
[*.py]
indent_size = 4

# JavaScript
[*.js]
indent_size = 2

# package.json .travis.yml
[{package.json,.travis.yml}]
indent_size = 2
